# This is the example .env file. It serves as template for your own environment variables.
# All the values in this file are placeholders, remember to change them with your own when creating your .env

# URL of the SQlite database file, in `file:path/to/db/file.db` format
# DEPRECATED, the API now uses PostgreSQL. Only use as backup if you can't setup a PostgreSQL database
DATABASE_URL="file:./dev.db"

# JWT secret for JWT access tokens
JWT_SECRET=my-long-and-complicated-jwt-secret

# Refresh token secret for JWT refresh tokens
RT_SECRET=my-long-and-complicated-rt-secret

# Registration code to give new users in order to join your server
REGISTRATION_CODE="secret_code"

# Localhost port used by the API
PORT=3000

# Rate-limiting values : Time To Live of request in ms & requests volume limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# Notifications service URL and secret
RELAY_URL="https://yournotificationsrelay.com/push"
RELAY_SECRET="my-long-and-complicated-relay-secret"

# PostgreSQL database environment variables
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=tenropes

# Use postgres:5432 inside Docker Compose, or localhost:5440 if running outside Docker locally
POSTGRES_DATABASE_URL="postgresql://myuser:mypassword@postgres:5432/tenropes?schema=public"

# Relative path of the directory used to store media uploads
MEDIA_DIR="files"