DATABASE_URL="file:./dev.db"
JWT_SECRET=my-jwt-secret
RT_SECRET=my-rt-secret

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=tenropes

POSTGRES_DATABASE_URL="postgresql://myuser:mypassword@localhost:5440/tenropes?schema=public"